$form-checkboxgroup-body-padding: 0 $flex-column-padding/2;

$form-checkboxgroup-body-invalid-border-color: none;
$form-checkboxgroup-body-invalid-border-style: none;
$form-checkboxgroup-body-invalid-border-width: 0;
