//Guests change icon play
$fa-var-play-circle: "\f046";


$btn-group-background-color: $flex-button-group-background-color;

$btn-group-border-color: none;
$btn-group-border-radius: 0;
$btn-group-border-width: 0;
$btn-group-inner-border-width: 0;
$btn-group-inner-border-color: none;

$btn-group-padding: 0 1px;
$btn-group-header-margin: 0;

$btn-group-header-font-size: $flex-font-size-base;
$btn-group-header-font-weight: $flex-font-weight;
$btn-group-header-font-family: $flex-font-family;
$btn-group-header-font: $btn-group-header-font-weight $btn-group-header-font-size $btn-group-header-font-family;
$btn-group-header-line-height: $flex-font-line-height-base;
$btn-group-header-color: $flex-text-color-header-button;
$btn-group-header-background-color: $flex-button-group-background-color;