//Panel Header Fix
$panel-header-background-color: $flex-background-panel;
$panel-header-font-size: $flex-font-size-h1;
$panel-header-line-height: $flex-font-line-height-h1;
$panel-header-text-transform: $flex-font-transform-uppercase;
$panel-header-padding: $flex-panel-padding;

//Font for all Panel
$panel-body-font-family: $flex-font-family;

