$tree-glyph-font-size: $flex-icon-size-small;
$tree-glyph-color: $flex-text-color-default;

$tree-folder-glyph-color: $tree-glyph-color;
$tree-folder-open-glyph-color: $tree-folder-glyph-color;

$tree-leaf-glyph-color: $tree-glyph-color;

$tree-arrow-glyph-color: $tree-glyph-color;
$tree-arrow-expanded-glyph-color: $tree-arrow-glyph-color;

$tree-expand-glyph-color: $tree-glyph-color;
$tree-collapse-glyph-color: $tree-glyph-color;
