$progress-border-color: null;
$progress-border-width: 0;
$progress-border-radius: 0;

$progress-background-color: $flex-background-body;

$progress-bar-background-color: $flex-background-body;

$progress-text-color-front: $flex-text-color-form-empty-field;
$progress-text-color-back: $flex-text-color-default;
$progress-text-font-size: $flex-font-size-base;
$progress-text-font-weight: $flex-font-weight-bold;
$progress-text-font-family: $flex-font-family;