$grid-lockable-separator-border-width: 0;
$grid-lockable-separator-border-style: none;
$grid-lockable-separator-border-color: none;
$grid-lockable-header-menu-lock-glyph: $fa-var-lock $flex-icon-size-small $flex-font-family;
$grid-lockable-header-menu-unlock-glyph: $fa-var-unlock $flex-icon-size-small $flex-font-family;
$grid-lockable-body-border-width: none;
