$html-editor-border-width: 0;
$html-editor-border-color: none;

$html-editor-background-color: $flex-background-body;
$html-editor-toolbar-icon-size: $flex-icon-size-small;
$html-editor-font-select-font-size: $flex-font-size-h5;
$html-editor-font-select-font-family: $flex-font-family;
$html-editor-glyph-color: $flex-text-color-default;
$html-editor-glyph-font-size: $flex-icon-size-small;
