//Color Server View
$form-text-field-color: $flex-text-color-grid-treeview;

//Search border off
$form-text-field-border-style: none;
$form-text-field-border-width: 0;
$form-text-field-border-color: none;